<template>
  <p><img src="./assets/logo.png"></p>
  <h1>Hello{{ name }} {{ age }} </h1>
  <p v-html="msg"></p>
  <p v-pre>{{ ceo }}</p>
  <p>{{ ceo }}</p>
</template>

<script>
  alert()
  export default {
    data() {
      return { name :' mark',
               age :45 ,
               msg :'How are you' ,
               ceo :'Facebook'}
    }
  }
</script>

<style>
  h1{
    color: rgb(81, 0, 255);
  }
</style>